<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd"><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>TexMask GmbH - Auftrag 242</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
<div style="width: 680px;"><a href="https://mytexmask.ch/" title="TexMask GmbH"><img width="100px" src="https://mytexmask.ch/image/catalog/logo.png" alt="TexMask GmbH" style="margin-bottom: 20px; border: none;"></a>
<br />
<b>{{ text_order_id }}</b> {{ order_id }}
<br />
<b>{{ text_date_added }}</b> {{ date_added }}
<p style="margin-top: 0px; margin-bottom: 20px; font-size:14px; color:#00ACD8;"><b>Aktualisierung Ihrer Bestellung bei myTexmask.ch</b></p>

<p style="margin-top: 0px; margin-bottom: 20px;">

Auftrag wurde auf folgenden Status aktualisiert:

<b>{{ order_status }}</b>

</p>

<p style="margin-top: 0px; margin-bottom: 20px;">

Um den Auftrag anzusehen, bitte nachstehenden Link anklicken:
<a href="{{ server }}/index.php?route=account/order/info&order_id={{ order_id }}">Status</a>

</p>

<p style="margin-top: 0px; margin-bottom: 20px;">Sollten noch Fragen offen sein, bitte auf dieses Email antworten.</p>


<p style="margin-top: 0px; margin-bottom: 40px;">&nbsp;</p>


<hr>

<p style="margin-top: 0px; margin-bottom: 20px; color:#666;">TexMask GmbH | Schulstrasse 14 | 5070 Frick | Schweiz<br/>
Tel.: +41 62 8655 400 | E-Mail: <a href="mailto:FragMich@myTexmask.ch">FragMich@myTexmask.ch</a> | <a href="https://myTexmask.ch">myTexmask.ch</a><br/>
Handelsregister Kanton Aargau, Nr. CH-354.551.573 | Mehrwertsteuernummer: CHE-354.551.573 MWST</p>

</div>
</body>
</html>