<div class="main-row  full-width">
<div class="image_home">{{ module_0}}</div>
{{ module_1}}
</div>
<div class="main-row  section_color">
{{ module_2}}
</div>
<div class="main-row  section_trends">
<div class="ps_r">{{ module_3}}</div>
</div>
<div class="main-row  section_recommendations">
{{ module_4}}
</div>
<div class="main-row  section_curious">
<div class="container ">
  <div class="line"><span><img src="images/1x/ico.png" alt="" class="img-fluid"></span></div>
</div>
{{ module_5}}
</div>


