{{ header }}
	<div id="content">
		<div class="right_icon">
           <a href="tel:+41628655400"><i class="fa fa-phone" aria-hidden="true"></i></a>
           <a href="mailto:fragmich@mytexmask.ch"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        {{ column_left }}		
		{{ content_top }}		
		{{ content_bottom }}		
		{{ column_right }}		
	</div>
{{ footer }}