{% if languages|length >= 1 %}
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <ul class="content language">
        {% set count = 0 %}
        {% for language in languages %}
        {% if count == 1 %}
          {% set id = ' id="language_de"' %}
        {% else %}
          {% set id = "" %}
        {% endif %}

		 {% if language.code == code %}
			<li {{ id }}><button class="btn btn-link btn-block language-select item-selected" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button></li>
		{% else %}
			<li {{ id }}><button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button></li>
		{% endif %}
      {% set count = count + 1 %}
      {% endfor %}
      </ul>
    
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
{% endif %}
