<div class="saferpay-masterpass-shipping-pane">
	<form action="{{ confirmationPageUrl }}" method="post">
		{{ shippingPane|raw }}
		<input type="hidden" name="masterpass_update_shipping" value="true" />
	</form>
</div>

<div class="saferpay-masterpass-confirmation-pane">
	<form action="{{ confirmationPageUrl }}" method="post">
		{{ additionalFormElements | raw }}
		{{ reviewPane|raw }}
		<input type="hidden" name="masterpass_confirmation" value="true" />
	</form>
</div>

<script type="text/javascript">
{{ javascript|raw }}
</script>